/var/log/unattended-upgrades/unattended-upgrades.log 
/var/log/unattended-upgrades/unattended-upgrades-dpkg.log
/var/log/unattended-upgrades/unattended-upgrades-shutdown.log
{
  daily
  dateext
  dateformat -%Y%m%d-%H%M%S
  missingok
  rotate 365
  compress
}
