- name: Add ufw before content
  become: true
  blockinfile:
    path: /etc/ufw/before.rules
    insertbefore: BOF
    content: |
      # NAT table rules
      *nat
      :PREROUTING ACCEPT [0:0]
      :POSTROUTING ACCEPT [0:0]
      -A PREROUTING -d 190.6.78.52/32 -p tcp -m tcp -m multiport --dports 80,443 -m state --state NEW -j DNAT --to-destination 192.168.40.20
      -A POSTROUTING -s 192.168.40.0/24 -o eth0 -p icmp -m icmp --icmp-type 8 -m state --state NEW -j SNAT --to-source 190.6.78.50
      -A POSTROUTING -s 192.168.40.0/24 -o eth0 -p udp -m udp -m multiport --dports 123 -m state --state NEW -j SNAT --to-source 190.6.78.50
      -A POSTROUTING -s 192.168.40.0/24 -o eth0 -p udp -m udp -m multiport --dports 53 -m state --state NEW -j SNAT --to-source 190.6.78.50
      -A POSTROUTING -s 192.168.40.0/24 -o eth0 -p tcp -m tcp -m multiport --dports 25 -m state --state NEW -j SNAT --to-source 190.6.78.51
      -A POSTROUTING -s 192.168.40.0/24 -o eth0 -p tcp -m tcp -m multiport --dports 80,443 -m state --state NEW -j SNAT --to-source 190.6.78.52
      -A POSTROUTING -s 192.168.40.0/24 -o eth0 -p tcp -m tcp -m multiport --dports 22 -m state --state NEW -j SNAT --to-source 190.6.78.53
      COMMIT
  notify: reload_ufw

- name: Permitir el paso al servicio SSH
  ansible.builtin.ufw:
    rule: allow
    route: yes
    src: 192.168.40.20/32
    dest: 190.6.78.49/32
    port: "22"
    proto: tcp

- name: Permitir el paso al servicio REPO
  ansible.builtin.ufw:
    rule: allow
    route: yes
    src: 190.6.78.49/32
    dest: 192.168.40.20/32
    port: "80,443"
    proto: tcp
