- name: ACCEPT INPUT SMTP IPv4
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 25
    source: 0.0.0.0/0
    ctstate: NEW
    jump: ACCEPT
    comment: 'SMTP'
    ip_version: ipv4
  notify: save_rules
