- name: Instalando iptables
  ansible.builtin.apt:
    name: iptables-persistent
    state: latest

- name: Aceptando conexiones entrantes establecidas y relacionadas
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
    comment: 'ESTABLISHED,RELATED'
    ip_version: both
  notify: save_rules

- name: Aceptando conexiones entrantes de la loopback
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    in_interface: lo
    jump: ACCEPT
    comment: 'loopback'
    ip_version: both
  notify: save_rules

- name: Aceptando conexiones entrantes de PING IPv4
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    protocol: icmp
    jump: ACCEPT
    comment: 'ICMP'
    ip_version: ipv4
  notify: save_rules

- name: Aceptando conexiones enrutadas establecidas y relacionadas
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
    comment: 'ESTABLISHED,RELATED'
    ip_version: both
  notify: save_rules

- name: Aceptando conexiones enrutadas de PING
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: icmp
    jump: ACCEPT
    comment: 'ICMP'
    ip_version: ipv4
  notify: save_rules
