- name: DEFAULT DROP INPUT POLICY
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    policy: DROP
    comment: 'DROP INCOMING'
    ip_version: both
  notify: save_rules

- name: DEFAULT DROP FORWARD POLICY
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    policy: DROP
    comment: 'DROP ROUTED'
    ip_version: both
  notify: save_rules

- name: DEFAULT ACCEPT OUTPUT POLICY
  ansible.builtin.iptables:
    table: filter
    chain: OUTPUT
    chain_management: true
    state: present
    action: append
    policy: ACCEPT
    comment: 'ACCEPT OUTGOING'
    ip_version: both
  notify: save_rules
