- name: Definir politica por defecto para el trafico entrante
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    policy: DROP
    comment: 'DROP INCOMING'
    ip_version: both
  notify: save_rules

- name: Definir politica por defecto para el trafico enrutado
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    policy: ACCEPT
    comment: 'ACCEPT ROUTED'
    ip_version: both
  notify: save_rules

- name: Definir politica por defecto para el trafico saliente
  ansible.builtin.iptables:
    table: filter
    chain: OUTPUT
    chain_management: true
    state: present
    action: append
    policy: ACCEPT
    comment: 'ACCEPT OUTGOING'
    ip_version: both
  notify: save_rules
