- name: Instalando iptables
  ansible.builtin.apt:
    name: iptables-persistent
    state: latest

- name: Aceptando conexiones entrantes establecidas y relacionadas
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
    comment: 'ESTABLISHED,RELATED'
    ip_version: ipv4
  notify: save_rules

- name: Aceptando conexiones entrantes de la loopback
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    in_interface: lo
    jump: ACCEPT
    comment: 'loopback'
    ip_version: ipv4
  notify: save_rules

- name: Aceptando conexiones entrantes de PING
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    protocol: icmp
    jump: ACCEPT
    comment: 'ICMP'
    ip_version: ipv4
  notify: save_rules

- name: Aceptando conexiones entrantes de SSH
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 22
    source: 192.168.40.20/32
    ctstate: NEW
    syn: match
    limit: 2/second
    limit_burst: 20
    jump: ACCEPT
    comment: 'SSH'
    ip_version: ipv4
  notify: save_rules

- name: Aceptando conexiones enrutadas establecidas y relacionadas
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
    comment: 'ESTABLISHED,RELATED'
    ip_version: ipv4
  notify: save_rules

- name: Aceptando conexiones enrutadas de PING
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: icmp
    jump: ACCEPT
    comment: 'ICMP'
    ip_version: ipv4
  notify: save_rules

- name: Definir politica por defecto para el trafico entrante
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    policy: DROP
    comment: 'DROP INCOMING'
    ip_version: both
  notify: save_rules

- name: Definir politica por defecto para el trafico enrutado
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    policy: ACCEPT
    comment: 'ACCEPT ROUTED'
    ip_version: both
  notify: save_rules

- name: Definir politica por defecto para el trafico saliente IPv4
  ansible.builtin.iptables:
    table: filter
    chain: OUTPUT
    chain_management: true
    state: present
    action: append
    policy: ACCEPT
    comment: 'ACCEPT OUTGOING IPv4'
    ip_version: ipv4
  notify: save_rules

- name: Definir politica por defecto para el trafico saliente IPv6
  ansible.builtin.iptables:
    table: filter
    chain: OUTPUT
    chain_management: true
    state: present
    action: append
    policy: DROP
    comment: 'DROP OUTGOING IPv6'
    ip_version: ipv6
  notify: save_rules
