Types: deb
Languages: es
Architectures: amd64
Uris: http://download.proxmox.com/debian/pve
Suites: trixie
Components: pve-no-subscription
Enabled: yes

Types: deb
Languages: es
Architectures: amd64
Uris: http://172.30.0.51/debian/pve
Suites: trixie
Components: pve-no-subscription
Enabled: no
