# REDIRECT DNS FROM Nacional TO Dmz

- name: DNAT PREROUTING DNS IPv4
  ansible.builtin.iptables:
    table: nat
    chain: PREROUTING
    chain_management: true
    state: present
    action: append
    protocol: udp
    destination_port: 53
    source: 0.0.0.0/0
    destination: 190.6.67.2/32
    to_destination: 192.168.40.10
    ctstate: NEW
    jump: DNAT
    comment: 'DNS'
    ip_version: ipv4
  notify: save_rules

# ACCEPT FORWARD DNS FROM Internet TO Dmz

- name: ACCEPT FORWARD DNS IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: udp
    destination_port: 53
    source: 0.0.0.0/0
    destination: 192.168.40.10/32
    ctstate: NEW
    jump: ACCEPT
    comment: 'DNS'
    ip_version: ipv4
  notify: save_rules

# ACCEPT FORWARD SSH FROM Dmz TO Router

- name: ACCEPT FORWARD LIMIT SSH IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 22
    source: 192.168.40.18/32
    destination: 190.6.67.1/32
    ctstate: NEW
    syn: match
    limit: 2/second
    limit_burst: 20
    jump: ACCEPT
    comment: 'SSH'
    ip_version: ipv4
  notify: save_rules

- name: ACCEPT FORWARD LIMIT SSH IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 22
    source: 192.168.40.29/32
    destination: 190.6.67.1/32
    ctstate: NEW
    syn: match
    limit: 2/second
    limit_burst: 20
    jump: ACCEPT
    comment: 'SSH'
    ip_version: ipv4
  notify: save_rules

# REDIRECT HTTP (REPO) FROM Router TO fw

- name: DNAT PREROUTING HTTP (REPO) IPv4
  ansible.builtin.iptables:
    table: nat
    chain: PREROUTING
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 80
    source: 190.6.67.1/32
    destination: 190.6.67.4/32
    to_destination: 192.168.40.29
    ctstate: NEW
    syn: match
    jump: DNAT
    comment: 'REPO'
    ip_version: ipv4
  notify: save_rules

# ACCEPT FORWARD HTTP (REPO) FROM Router TO Dmz

- name: ACCEPT FORWARD HTTP (REPO) IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 80
    source: 190.6.67.1/32
    destination: 192.168.40.29/32
    ctstate: NEW
    syn: match
    jump: ACCEPT
    comment: 'REPO'
    ip_version: ipv4
  notify: save_rules

# ACCEPT FORWARD DNS FROM dmz TO Internet

- name: ACCEPT FORWARD DNS IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: udp
    destination_port: 53
    source: 192.168.40.10/32
    destination: 0.0.0.0/0
    ctstate: NEW
    jump: ACCEPT
    comment: 'DNS'
    ip_version: ipv4
  notify: save_rules

# ACCEPT FORWARD PROXY FROM dmz TO Internet

- name: ACCEPT FORWARD PROXY IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_ports: '21,70,80,210,280,443,488,591,777,1025:65535'
    source: 192.168.40.12/32
    destination: 0.0.0.0/0
    ctstate: NEW
    jump: ACCEPT
    comment: 'PROXY'
    ip_version: ipv4
  notify: save_rules

# MASQUERADE PING FROM Dmz TO Internet

- name: SNAT POSTROUTING PING IPv4
  ansible.builtin.iptables:
    table: nat
    chain: POSTROUTING
    chain_management: true
    state: present
    action: append
    protocol: icmp
    source: 0.0.0.0/0
    destination: 0.0.0.0/0
    to_source: 190.6.67.2
    ctstate: NEW
    jump: SNAT
    comment: 'PING'
    ip_version: ipv4
  notify: save_rules

# MASQUERADE SSH FROM Dmz TO Router

- name: SNAT POSTROUTING SSH IPv4
  ansible.builtin.iptables:
    table: nat
    chain: POSTROUTING
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 22
    source: 192.168.40.18/32
    destination: 190.6.67.1/32
    to_source: 190.6.67.5
    ctstate: NEW
    syn: match
    jump: SNAT
    comment: 'SSH'
    ip_version: ipv4
  notify: save_rules

- name: SNAT POSTROUTING SSH IPv4
  ansible.builtin.iptables:
    table: nat
    chain: POSTROUTING
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 22
    source: 192.168.40.29/32
    destination: 190.6.67.1/32
    to_source: 190.6.67.5
    ctstate: NEW
    syn: match
    jump: SNAT
    comment: 'SSH'
    ip_version: ipv4
  notify: save_rules

# MASQUERADE DNS FROM Dmz TO Internet

- name: SNAT POSTROUTING DNS IPv4
  ansible.builtin.iptables:
    table: nat
    chain: POSTROUTING
    chain_management: true
    state: present
    action: append
    protocol: udp
    destination_port: 53
    source: 192.168.40.10/32
    destination: 0.0.0.0/0
    to_source: 190.6.67.2
    ctstate: NEW
    jump: SNAT
    comment: 'DNS'
    ip_version: ipv4
  notify: save_rules

# MASQUERADE PROXY FROM Dmz TO Internet

- name: SNAT POSTROUTING PROXY IPv4
  ansible.builtin.iptables:
    table: nat
    chain: POSTROUTING
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_ports: '21,70,80,210,280,443,488,591,777,1025:65535'
    source: 192.168.40.12/32
    destination: 0.0.0.0/0
    to_source: 190.6.67.5
    ctstate: NEW
    syn: match
    jump: SNAT
    comment: 'PROXY'
    ip_version: ipv4
  notify: save_rules
