# REDIRECT DNS FROM Vpn TO Dmz

- name: DNAT PREROUTING DNS IPv4
  ansible.builtin.iptables:
    table: nat
    chain: PREROUTING
    chain_management: true
    state: present
    action: append
    protocol: udp
    destination_port: 53
    source: 0.0.0.0/0
    destination: 0.0.0.0/0
    to_destination: 192.168.40.10
    ctstate: NEW
    jump: DNAT
    comment: 'DNS'
    ip_version: ipv4
  notify: save_rules

# ACCEPT FORWARD DNS FROM Vpn TO Dmz

- name: ACCEPT FORWARD DNS IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: udp
    destination_port: 53
    source: 0.0.0.0/0
    destination: 192.168.40.10/32
    ctstate: NEW
    jump: ACCEPT
    comment: 'DNS'
    ip_version: ipv4
  notify: save_rules

# ACCEPT FORWARD SSH FROM Vpn TO Dmz

- name: ACCEPT FORWARD SSH IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 22
    source: 0.0.0.0/0
    destination: 192.168.40.18/32
    ctstate: NEW
    jump: ACCEPT
    comment: 'SSH'
    ip_version: ipv4
  notify: save_rules

# ACCEPT FORWARD DNS FROM Vpn TO Dmz

- name: ACCEPT FORWARD DNS IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: udp
    destination_port: 53
    source: 0.0.0.0/0
    destination: 192.168.40.10/32
    ctstate: NEW
    jump: ACCEPT
    comment: 'DNS'
    ip_version: ipv4
  notify: save_rules

# ACCEPT FORWARD SSH FROM Dmz TO Router

- name: ACCEPT FORWARD LIMIT SSH IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 22
    source: 192.168.40.18/32
    destination: 172.32.16.1/32
    ctstate: NEW
    syn: match
    limit: 2/second
    limit_burst: 20
    jump: ACCEPT
    comment: 'SSH'
    ip_version: ipv4
  notify: save_rules

- name: ACCEPT FORWARD LIMIT SSH IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 22
    source: 192.168.40.29/32
    destination: 172.32.16.1/32
    ctstate: NEW
    syn: match
    limit: 2/second
    limit_burst: 20
    jump: ACCEPT
    comment: 'SSH'
    ip_version: ipv4
  notify: save_rules

# ACCEPT FORWARD REPO FROM Router TO Dmz

- name: ACCEPT FORWARD HTTP (REPO) IPv4
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_port: 80
    source: 172.32.16.1/32
    destination: 192.168.40.20/32
    ctstate: NEW
    syn: match
    jump: ACCEPT
    comment: 'REPO'
    ip_version: ipv4
  notify: save_rules

