- name: Instalamos los certificados de ejemplo
  ansible.builtin.apt:
    name:
      - ssl-cert
    state: present

- name: Instalando Postfix
  ansible.builtin.apt:
    name: postfix
    state: latest

- name: Configurar el dominio del servidor de correo
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^mydomain ="
    line: 'mydomain = dpvhab.cu'
  notify: restart_postfix

- name: Configurar el apartado "From" del correo electronico
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^myorigin ="
    line: 'myorigin = $mydomain'
  notify: restart_postfix

- name: Configurar el nombre del servidor de correo
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^myhostname ="
    line: 'myhostname = mx.$mydomain'
  notify: restart_postfix

- name: Configurar las interfaces de escucha
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^inet_interfaces ="
    line: 'inet_interfaces = all'
  notify: restart_postfix

- name: Configurar los protocolos de escucha
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^inet_protocols ="
    line: 'inet_protocols = all'
  notify: restart_postfix

- name: Configurar los dominios de destino aceptados
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^mydestination ="
    line: 'mydestination ='
  notify: restart_postfix

- name: Configurar los servidores aceptados
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^mynetworks ="
    line: 'mynetworks = 192.168.40.0/24'
  notify: restart_postfix

- name: Configurar servidor de reenvio
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^relayhost ="
    line: 'relayhost ='
  notify: restart_postfix

- name: Configurar los dominios permitidos de salida
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^relay_domains ="
    line: 'relay_domains = $mydomain'
  notify: restart_postfix

