---
# Estructura Basica:
#   a) Rutas Estaticas
#   b) Sysctl basic
#   c) Sysctl Forward
#   d) Clean CT
#   e) Repositorio
#   f) Actualizar
#   g) FW General
#   h) Servicio General
#   i) Servicio Especifico
#   j) FW Servicio

# Generals

- name: STATIC ROUTES DMZ HOSTS
  tags: dpvhab-routes-dmz
  hosts:
    - dmz
  roles:
    - dpvhab/routes/dmz

- name: STATIC ROUTES FW VPN
  tags: dpvhab-routes-firewalls-vpn
  hosts:
    - firewall-vpn
  roles:
    - dpvhab/routes/firewalls/vpn

- name: STATIC ROUTES FW WWW
  tags: dpvhab-routes-firewalls-www
  hosts:
    - firewall-www
  roles:
    - dpvhab/routes/firewalls/www

- name: STATIC ROUTES FW NAC
  tags: dpvhab-routes-firewalls-nac
  hosts:
    - firewall-nac
  roles:
    - dpvhab/routes/firewalls/nac

- name: STATIC ROUTES FW LAN
  tags: dpvhab-routes-firewalls-lan
  hosts:
    - firewall-lan
  roles:
    - dpvhab/routes/firewalls/lan

- name: ENABLE FORWARD
  tags: debian-sysctl-forward
  hosts:
    - firewalls
  roles:
    - debian/sysctl/forward

- name: UNINSTALL SMTP
  tags: debian-ct-smtp-remove
  hosts:
    - ns
    - px
    - repo
    - adm
    - firewalls
  roles:
    - debian/ct/smtp/remove

- name: GENERAL INSTALL AND CONFIG DMZ
  tags: general-dmz
  hosts:
    - dmz
    - firewalls
  roles:
    - debian/sysctl/basic
    - debian/apt/date
    - dpvhab/repo/dmz/laptop
    - debian/upgrade
    - debian/iptables/init
    - dpvhab/iptables/ssh/hosts/dmz
    - debian/iptables/policy/hosts

- name: ADD RULES FW WWW
  tags: dpvhab-iptables-firewalls-www
  hosts:
    - firewall-www
  roles:
    - dpvhab/iptables/firewalls/www

- name: ADD RULES FW NAC
  tags: dpvhab-iptables-firewalls-nac
  hosts:
    - firewall-nac
  roles:
    - dpvhab/iptables/firewalls/nac

- name: ADD RULES FW VPN
  tags: dpvhab-iptables-firewalls-vpn
  hosts:
    - firewall-vpn
  roles:
    - dpvhab/iptables/firewalls/vpn

######### MA QUEDE AQUI ##########

# Routers
