---
# Estructura Basica:
#   a) Rutas Estaticas
#   b) Sysctl basic
#   c) Sysctl Forward
#   d) Clean CT
#   e) Repositorio
#   f) Actualizar
#   g) FW General
#   h) Servicio General
#   i) Servicio Especifico
#   j) FW Servicio

# Generals

- name: STATIC ROUTES DMZ HOSTS
  tags: dpvhab-routes-dmz
  hosts:
    - dmz
  roles:
    - dpvhab/routes/dmz

- name: STATIC ROUTES FW VPN
  tags: dpvhab-routes-firewalls-vpn
  hosts:
    - firewall-vpn
  roles:
    - dpvhab/routes/firewalls/vpn

- name: STATIC ROUTES FW WWW
  tags: dpvhab-routes-firewalls-www
  hosts:
    - firewall-www
  roles:
    - dpvhab/routes/firewalls/www

- name: STATIC ROUTES FW NAC
  tags: dpvhab-routes-firewalls-nac
  hosts:
    - firewall-nac
  roles:
    - dpvhab/routes/firewalls/nac

- name: STATIC ROUTES FW LAN
  tags: dpvhab-routes-firewalls-lan
  hosts:
    - firewall-lan
  roles:
    - dpvhab/routes/firewalls/lan

- name: UNINSTALL SMTP
  tags: debian-ct-smtp-remove
  hosts:
    - ns
    - px
    - repo
    - adm
    - firewalls
  roles:
    - debian/ct/smtp/remove

- name: GENERAL INSTALL AND CONFIG DMZ
  tags: general-dmz
  hosts:
    - dmz
    - firewalls
  roles:
    - debian/sysctl/basic
    - debian/apt/date
    - dpvhab/repo/dmz/laptop
    - debian/upgrade
    - debian/iptables/init
    - dpvhab/iptables/ssh/hosts/dmz
    - debian/iptables/policy/hosts

- name: ENABLE FORWARD
  tags: debian-sysctl-forward
  hosts:
    - firewalls
  roles:
    - debian/sysctl/forward

- name: ADD RULES FW WWW
  tags: dpvhab-iptables-firewalls-www
  hosts:
    - firewall-www
  roles:
    - dpvhab/iptables/firewalls/www

- name: ADD RULES FW NAC
  tags: dpvhab-iptables-firewalls-nac
  hosts:
    - firewall-nac
  roles:
    - dpvhab/iptables/firewalls/nac

- name: ADD RULES FW VPN
  tags: dpvhab-iptables-firewalls-vpn
  hosts:
    - firewall-vpn
  roles:
    - dpvhab/iptables/firewalls/vpn

# Routers

- name: STATIC ROUTES ROUTER VPN
  tags: dpvhab-routes-router-vpn
  hosts:
    - router-vpn
  roles:
    - dpvhab/routes/router/vpn

- name: BASIC SYSTEM CONTROL and ENABLE FORWARD and UNINSTALL SMTP
  tags: general-routers
  hosts:
    - routers
  roles:
    - debian/sysctl/basic
    - debian/sysctl/forward
    - debian/ct/smtp/remove

- name: CONFIG REPOSITORIES WWW
  tags: dpvhab-repo-www
  hosts:
    - router-www
  roles:
    - debian/apt/date
    - dpvhab/repo/www

- name: CONFIG REPOSITORIES NAC
  tags: dpvhab-repo-nac
  hosts:
    - router-nac
  roles:
    - debian/apt/date
    - dpvhab/repo/nac

- name: CONFIG REPOSITORIES DMZ
  tags: dpvhab-repo-dmz-laptop
  hosts:
    - router-vpn
  roles:
    - debian/apt/date
    - dpvhab/repo/dmz/laptop

- name: UPDATE AND UPGRADE REPOSITORIES
  tags: debian-upgrade
  hosts:
    - routers
  roles:
    - debian/upgrade

- name: INSTALL FW ON ROUTERS WWW
  tags: dpvhab-iptables-routers-www
  hosts:
    - router-www
  roles:
    - debian/iptables/init
    - dpvhab/iptables/ssh/routers/www
    - debian/iptables/policy/routers

- name: INSTALL FW ON ROUTERS NAC
  tags: dpvhab-iptables-routers-nac
  hosts:
    - router-nac
  roles:
    - debian/iptables/init
    - dpvhab/iptables/ssh/routers/nac
    - debian/iptables/policy/routers

- name: INSTALL FW ON ROUTERS VPN
  tags: dpvhab-iptables-routers-vpn
  hosts:
    - router-vpn
  roles:
    - debian/iptables/init
    - dpvhab/iptables/ssh/routers/vpn
    - debian/iptables/policy/routers

# Servers

- name: INSTALL DNS DMZ (vistas)
  tags: dpvhab-dns-dmz-ns
  hosts:
    - ns
  roles:
    - dpvhab/dns/dmz/ns
    - dpvhab/iptables/dmz/ns

- name: INSTALL PROXY DMZ
  tags: dpvhab-proxy-dmz-px
  hosts:
    - px
  roles:
    - debian/proxy
    - dpvhab/proxy/dmz/px
    - dpvhab/iptables/dmz/px

- name: INSTALL SMTP DMZ (Relay)
  tags: dpvhab-smtp-dmz-mx
  hosts:
    - mx
  roles:
    - dpvhab/smtp/dmz/mx
    - dpvhab/iptables/dmz/mx

- name: INSTALL REPOSITORY DMZ
  tags: dpvhab-repository-dmz-repo
  hosts:
    - repo
  roles:
    - debian/web/apache

- name: INSTALL ADM TOOLS DMZ
  tags: debian-tools-adm
  hosts:
    - adm
  roles:
    - debian/tools/adm
