---
# Estructura Basica:
#   a) Rutas Estaticas
#   b) Sysctl
#   c) Forward
#   d) Repositorio
#   e) Actualizar
#   f) FW General
#   g) FW Especifico

# DMZ Servers

- name: Eliminando el SMTP por defecto
  tags: debian-ct-smtp-remove
  hosts:
    - ns1
    - proxy
  roles:
    - debian-ct-smtp-remove

- name: Configurar rutas estaticas de la DMZ
  tags: dpvhab-dmz-servers-route
  hosts:
    - dmz
  roles:
    - dpvhab-dmz-servers-route

- name: Configuraciones de Control Basicas del Sistema
  tags: debian-basic-sysctl-config
  hosts:
    - dmz
  roles:
    - debian-basic-sysctl-config

- name: Configurar repositorio dpvhab
  tags: dpvhab-dmz-repo-config
  hosts:
    - dmz
  roles:
    - dpvhab-dmz-repo-config

- name: Actualizar los indices del repositorio y el sistema operativo
  tags: debian-upgrade
  hosts:
    - dmz
  roles:
    - debian-upgrade

- name: Habilitar Cortafuegos (iptables)
  tags: dpvhab-dmz-basic-iptables
  hosts:
    - dmz
  roles:
    - dpvhab-dmz-basic-iptables

- name: DNS con vistas
  tags: dpvhab-dmz-dns1
  hosts:
    - ns1
  roles:
    - dpvhab-dmz-dns1

- name: Habilitar Cortafuegos DNS (iptables)
  tags: dpvhab-dmz-dns1-iptables
  hosts:
    - ns1
  roles:
    - dpvhab-dmz-dns1-iptables

- name: SMTP Relay
  tags: dpvhab-dmz-mx1
  hosts:
    - mx1
  roles:
    - dpvhab-dmz-mx1

- name: Habilitar Cortafuegos SMTP (iptables)
  tags: dpvhab-dmz-mx1-iptables
  hosts:
    - mx1
  roles:
    - dpvhab-dmz-mx1-iptables

# Firewalls

- name: Eliminando el SMTP por defecto
  tags: debian-ct-smtp-remove
  hosts:
    - firewalls
  roles:
    - debian-ct-smtp-remove

- name: Configuraciones de Control Basicas del Sistema
  tags: debian-basic-sysctl-config
  hosts:
    - firewalls
  roles:
    - debian-basic-sysctl-config

- name: Habilitar el reenvio de paquetes
  tags: debian-basic-sysctl-forward
  hosts:
    - firewalls
  roles:
    - debian-basic-sysctl-forward

- name: Configurar repositorio dpvhab
  tags: dpvhab-dmz-repo-config
  hosts:
    - firewalls
  roles:
    - dpvhab-dmz-repo-config

- name: Actualizar los indices del repositorio y el sistema operativo
  tags: debian-upgrade
  hosts:
    - firewalls
  roles:
    - debian-upgrade

- name: Habilitar Cortafuegos (iptables)
  tags: dpvhab-dmz-basic-iptables
  hosts:
    - firewalls
  roles:
    - dpvhab-dmz-basic-iptables

- name: Configurar Cortafuegos VPN (iptables)
  tags: dpvhab-edge-vpn-fw-iptables
  hosts:
    - fw1
  roles:
    - dpvhab-edge-vpn-fw-iptables

- name: Configurar Cortafuegos WWW (iptables)
  tags: dpvhab-edge-www-fw-iptables
  hosts:
    - fw2
  roles:
    - dpvhab-edge-www-fw-iptables

- name: Configurar Cortafuegos NAC (iptables)
  tags: dpvhab-edge-nac-fw-iptables
  hosts:
    - fw3
  roles:
    - dpvhab-edge-nac-fw-iptables

# Routers

- name: Eliminando el SMTP por defecto
  tags: debian-ct-smtp-remove
  hosts:
    - routers
  roles:
    - debian-ct-smtp-remove

- name: Configurar rutas estaticas del router VPN
  tags: dpvhab-edge-router-vpn-route
  hosts:
    - r1
  roles:
    - dpvhab-edge-router-vpn-route

- name: Configuraciones de Control Basicas del Sistema
  tags: debian-basic-sysctl-config
  hosts:
    - routers
  roles:
    - debian-basic-sysctl-config

- name: Habilitar el reenvio de paquetes del router VPN
  tags: debian-basic-sysctl-forward
  hosts:
    - routers
  roles:
    - debian-basic-sysctl-forward

- name: Configurar repositorio dpvhab
  tags: dpvhab-dmz-repo-config
  hosts:
    - r1
  roles:
    - dpvhab-dmz-repo-config

- name: Configurar repositorio dpvhab
  tags: dpvhab-edge-www-repo-config
  hosts:
    - r2
  roles:
    - dpvhab-edge-www-repo-config

- name: Configurar repositorio dpvhab
  tags: dpvhab-edge-nac-repo-config
  hosts:
    - r3
  roles:
    - dpvhab-edge-nac-repo-config

- name: Actualizar los indices del repositorio y el sistema operativo
  tags: debian-upgrade
  hosts:
    - routers
  roles:
    - debian-upgrade

- name: Habilitar Cortafuegos (iptables)
  tags: dpvhab-routers-vpn-iptables
  hosts:
    - r1
  roles:
    - dpvhab-routers-vpn-iptables

- name: Habilitar Cortafuegos (iptables)
  tags: dpvhab-routers-www-iptables
  hosts:
    - r2
  roles:
    - dpvhab-routers-www-iptables

- name: Habilitar Cortafuegos (iptables)
  tags: dpvhab-routers-nac-iptables
  hosts:
    - r3
  roles:
    - dpvhab-routers-nac-iptables
