---
# Estructura Basica:
#   a) Clean CT
#   b) Rutas Estaticas
#   c) Sysctl
#   d) Forward
#   e) Repositorio
#   f) Actualizar
#   g) Servicio General
#   h) Servicio Especifico
#   i) FW General
#   j) FW Especifico

# Generals

- name: Eliminando el SMTP por defecto
  tags: debian-ct-smtp-remove
  hosts:
#    - ns1
#    - px1
    - firewalls
  roles:
    - debian/ct/smtp/remove

- name: Configurar repositorio dpvhab
  tags: dpvhab-repo-dmz
  hosts:
#    - dmz
    - firewalls
  roles:
    - dpvhab/repo/dmz

- name: Actualizar los indices del repositorio y el sistema operativo
  tags: debian-upgrade
  hosts:
 #   - dmz
    - firewalls
  roles:
    - debian/upgrade

- name: Habilitar Cortafuegos (iptables)
  tags: debian-iptables-init-ssh-policy
  hosts:
#    - dmz
    - firewalls
  roles:
    - debian/iptables/init
    - dpvhab/iptables/dmz/ssh
    - debian/iptables/policy/hosts

- name: Configurar rutas estaticas de la DMZ
  tags: dpvhab-routes-firewalls-dmz
  hosts:
    - fw1
  roles:
    - dpvhab/routes/firewalls/vpn

- name: Configurar rutas estaticas de la WWW
  tags: dpvhab-routes-firewalls-www
  hosts:
    - fw2
  roles:
    - dpvhab/routes/firewalls/www

- name: Configurar rutas estaticas de la NAC
  tags: dpvhab-routes-firewalls-nac
  hosts:
    - fw3
  roles:
    - dpvhab/routes/firewalls/nac

# DMZ Servers

#- name: Configurar rutas estaticas de la DMZ
#  tags: dpvhab-routes-dmz
#  hosts:
#    - dmz
#  roles:
#    - dpvhab/routes/dmz

#- name: DNS con vistas
#  tags: dpvhab-dmz-dns1
#  hosts:
#    - ns1
#  roles:
#    - dpvhab-dmz-dns1

#- name: Habilitar Cortafuegos DNS (iptables)
#  tags: dpvhab-iptables-dmz-ns1
#  hosts:
#    - ns1
#  roles:
#    - dpvhab/iptables/dmz/ns1

#- name: SMTP Relay
#  tags: dpvhab-dmz-mx1
#  hosts:
#    - mx1
#  roles:
#    - dpvhab-dmz-mx1

#- name: Habilitar Cortafuegos SMTP (iptables)
#  tags: dpvhab-iptables-dmz-mx1
#  hosts:
#    - mx1
#  roles:
#    - dpvhab/iptables/dmz/mx1

#- name: PROXY DMZ
#  tags: dpvhab-proxy-dmz-px1
#  hosts:
#    - px1
#  roles:
#    - debian/proxy
#    - dpvhab/proxy/dmz/px1

#- name: Habilitar Cortafuegos PROXY (iptables)
#  tags: dpvhab-iptables-dmz-px1
#  hosts:
#    - px1
#  roles:
#    - dpvhab/iptables/dmz/px1

# Firewalls

- name: Habilitar el reenvio de paquetes
  tags: debian-sysctl-forward
  hosts:
    - firewalls
  roles:
    - debian/sysctl/forward

- name: Configurar Cortafuegos VPN (iptables)
  tags: dpvhab-iptables-firewalls-vpn
  hosts:
    - fw1
  roles:
    - dpvhab/iptables/firewalls/vpn

- name: Configurar Cortafuegos WWW (iptables)
  tags: dpvhab-iptables-firewalls-www
  hosts:
    - fw2
  roles:
    - dpvhab/iptables/firewalls/www

- name: Configurar Cortafuegos NAC (iptables)
  tags: dpvhab-iptables-firewalls-nac
  hosts:
    - fw3
  roles:
    - dpvhab/iptables/firewalls/nac

# Routers

- name: Eliminando el SMTP por defecto
  tags: debian-ct-smtp-remove
  hosts:
    - routers
  roles:
    - debian/ct/smtp/remove

- name: Configurar rutas estaticas del router VPN
  tags: dpvhab-routes-router-vpn
  hosts:
    - r1
  roles:
    - dpvhab/routes/router/vpn

- name: Habilitar el reenvio de paquetes del router VPN
  tags: debian-sysctl-forward
  hosts:
    - routers
  roles:
    - debian/sysctl/forward

- name: Configurar repositorio dpvhab
  tags: dpvhab-repo-dmz
  hosts:
    - r1
  roles:
    - dpvhab/repo/dmz

- name: Configurar repositorio dpvhab
  tags: dpvhab-repo-www
  hosts:
    - r2
  roles:
    - dpvhab/repo/www

- name: Configurar repositorio dpvhab
  tags: dpvhab-repo-nac
  hosts:
    - r3
  roles:
    - dpvhab/repo/nac

- name: Actualizar los indices del repositorio y el sistema operativo
  tags: debian-upgrade
  hosts:
    - routers
  roles:
    - debian/upgrade

- name: Inicializar Cortafuegos Routers (iptables)
  tags: debian-iptables-init
  hosts:
    - r1
    - r2
    - r3
  roles:
    - debian/iptables/init

- name: Configurar Cortafuegos Router VPN (iptables)
  tags: dpvhab-iptables-routers-vpn
  hosts:
    - r1
  roles:
    - dpvhab/iptables/routers/vpn

- name: Configurar Cortafuegos Router WWW (iptables)
  tags: dpvhab-iptables-routers-www
  hosts:
    - r2
  roles:
    - dpvhab/iptables/routers/www

- name: Configurar Cortafuegos Router NAC (iptables)
  tags: dpvhab-iptables-routers-nac
  hosts:
    - r3
  roles:
    - dpvhab/iptables/routers/nac

- name: Politicas por defecto Cortafuegos Routers (iptables)
  tags: debian-iptables-init
  hosts:
    - r1
    - r2
    - r3
  roles:
    - debian/iptables/policy/routers

